.corFundo{
    background-color: #ea967a;
}
.corTabela{
    background-color: white;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    
    padding: 1rem;
    text-align: center;
}

li {
    text-align: left; /* Alinha o texto à esquerda */
    
}
a {
    text-decoration: none; /* Remove o sublinhado */
    color: whitesmoke; /* Define a cor do texto do link */
  }